<div class="pkm-back py-5">
  <div class="d-flex justify-content-center">
    <div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="container">
          <div class="row align-items-center" style="margin-left: 4px;margin-right: 4px;margin-bottom: 20px;margin-top: 20px;">
            <div class="col-lg-8 col-md-12">
                <%= image_tag "gengar.gif", alt: "gengar", width: 600, id:"gengar" %>
            </div>
            <div class="col-lg-4 col-md-12 white-back">
                <div class="form-inputs text-center">
                  <%= f.input :email, required: true, autofocus: true %>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                  <% end %>

                  <%= f.input :password,
                              hint: "leave it blank if you don't want to change it",
                              required: false,
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                              required: false,
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :current_password,
                              hint: "we need your current password to confirm your changes",
                              required: true,
                              input_html: { autocomplete: "current-password" } %>
                                <div class="form-actions">
                  <%= f.button :submit, "Update", class:"btn-edit", data: { confirm: 'Are you sure you want to edit your profile?' } %>
                  </div>
                  <% end %>
                  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
                  <br>
                  <%= link_to "Back", :back %>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
