<%= render "shared/banner" %>
<%# <div class="home-container col-sm-12 col-md-11 col-lg-11"> %>
  <div class="home-cards-container col-sm-12 col-md-11 col-lg-11 p-5">
    <% @cards.each do |card| %>
      <% if card.bought == false %>
        <%= link_to card_path(card), class: "card-link" do %>
          <div class="card-display">
            <img src="<%= card.image %>" />
            <div class="card-infos">
              <div class="d-flex justify-content-between">
                <h2><%= card.name %></h2>
                <h2>U$ <%= card.price %> </h2>
              </div>
                <p><%= card.user.username %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<%# </div> %>
