<div class="breadcrumb">
<small><span><%= link_to "Home", root_path, class: "breadcrumb-link" %> ></span> <%= @card.name %></small>
</div>
<div class="container-card-show">
  <div class="card-show">
    <img src=" <%= @card.image %>" alt=" <%= @card.name %> ">
  </div>
  <div>
    <div class="card-info p-5">

      <div class="card-info-header border-bottom">
        <h1><%= @card.name %></h1>
        <p><strong>Type:</strong> <%= @card.category %></p>
        <p><strong>Rarity:</strong> <%= @card.rarity %></p>
      </div>

      <div class="card-info-price d-flex justify-content-between mt-3">
          <small><strong>Seller:</strong> <%= @card.user.username %></small>
          <div class="row">
          <h2>US$ <%= @card.price %></h2>
          </div>
      </div>
        <%= link_to 'Comprar', card_orders_path(@card), method: :post, class: "btn btn-primary btn-lg w-100 mt-3" %>
            <div class="d-flex justify-content-between gap-2 mt-3">
            <% if @card.user == current_user %>
              <%= link_to "Edit", edit_card_path, class: "btn btn-primary w-50" %>
              <%= link_to "Delete", card_path(@card), class: "btn btn-primary w-50", method: :delete, data: { confirm: 'Are you sure you want to delete this card?' } %>
              <% end %>
            </div>
    </div>
    <div class="card-info mt-3 p-5">
    <h3>Descrição</h3>
    <p>Este código PTCGO resgata <%= @card.name %>.</p>

    </div>
  </div>
</div>
